/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 20px;
    font-size: 1.5em;
    margin-bottom: 15px;
}

label {
    margin: 20px;
    display: block;
    margin-top: 10px;
}

input {
    margin: 20px;
    width: calc(40%);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
}

#contadorCaracteres, #infoPieces {
    margin: 20px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: calc(20%);
    box-sizing: border-box;
}

#delimiterByEffect {
    margin: 20px;
    margin-top: 10px;
    text-decoration: underline;
    color: #0e1ef7;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
